@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor-marrom-escuro: #2F2325;
    --cor-marrom-claro: #8E5D52;
    --cor-azul-claro: #6495ed;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, var(--cor-marrom-escuro) 16.62%, var(--cor-marrom-claro) 85.61%);
}

link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

hr {
    width: 15rem;
    margin: 1rem auto;
    color: white !important;
    opacity: unset !important;
}

.nav-link {
    color: white !important;
}

.dropdown-item:hover {
    background-color: var(--cor-azul-claro) !important;
}

.cabecalho-imagem {
    height: 4.5rem;
}

.conteudo-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 4rem;
    color: white;
}

.conteudo-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
}

.margem-acima {
    margin-top: 4rem;
}

.margem-abaixo {
    margin-bottom: 4rem;
}

.conteudo-secundario-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.rodape {
    padding-bottom: 5rem;
}

.rodape-imagem {
    height: 3rem;
}

/* Treino.html */

.object-1 {
    background-color: white;
    border: black solid 1px;
    height: 2rem;
    width: 20rem;
    text-align: center;
}

.object-fundo-branco {
    background-color: white;
    width: 50%;
}

.borda-preto {
    border: black solid 1px;
}

.borda-branco {
    border: white solid 1px;
}

.section-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */

    background-color: #26a69a;
    border: black solid 1px;
    height: 13rem;
}

.section-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */

    background-color: #66bb6a;
    border: black solid 1px;
    height: 13rem;
}

.section-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-grow: 1; */

    background-color: #64dd17;
    border: black solid 1px;
    height: 13rem;
}

.section-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-grow: 1; */

    background-color: #d84315;
    border: black solid 1px;
    height: 13rem;
}

.tela-inteira {
    border: black 1px solid;
    padding: 0px !important;
    margin: 0px !important;
}

/* @media (max-width: 576px) {
    .object-1 {
        width: 5rem;
    }
} */