@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor-marrom-escuro: #2F2325;
    --cor-marrom-claro: #8E5D52;
    --cor-azul-claro: #6495ed;
}
body {
    font-size: 100%;
    background: linear-gradient(68.15deg, var(--cor-marrom-escuro) 16.62%, var(--cor-marrom-claro) 85.61%);
}

link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

hr {
    width: 15rem;
    margin: 1rem auto;
    color: white !important;
    opacity: unset !important;
}

.nav-link {
    color: white !important;
}

.dropdown-item:hover {
    background-color: var(--cor-azul-claro) !important;
}

.cabecalho-imagem {
    height: 4.5rem;
}

.conteudo-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 4rem;
    color: white;
}

.conteudo-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
}

.margem-acima {
    margin-top: 4rem;
}

.margem-abaixo {
    margin-bottom: 4rem;
}

.conteudo-secundario-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.rodape {
    padding-bottom: 5rem;
}

.rodape-imagem {
    height: 3rem;
}
